.header {
    box-sizing: border-box;
    padding: 50px 0;
    height: 170px;
    max-height: 170px;
}

.logo {
    position: relative;
}

.tlogo {
    position: absolute;
    top: 42px;
    left: 80px;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.banner {
    margin-top: -170px;
    height: 936px;
    width: 100%;
    background: url("images/header.jpg") top center;
    display: table;
}

.banner img {

}

.banner h1 {
    font-size: 83px;
    color: #000000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.banner span {
    color: #f66c27;
}

.noithat header img {


}

nav {

}

nav .header-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav .header-menu li{
    float: left;
}

nav .header-menu li a{
    display: inline-block;
    padding: 10px 25px;
    color: #8d8d8d;
    font-size: 20px;
}

nav .header-menu li i{
    color: #8d8d8d;
    font-size: 20px;
}

nav .header-menu:after {

}

nav .header-menu li {

}

.banner {

}